{{ define "main" }}
<div class="contentSectionContainer">
	<div class="contentSectionBackground">
		<div id="landingSection1Background"></div>
		<div id="landingSection1WidgetsDesktop">
			<div class="contentSection">
				<div id="landingSection1Widget1" class="landingHeroWidget"></div>
				<div id="landingSection1Widget2" class="landingHeroWidget"></div>
				<div id="landingSection1Widget3" class="landingHeroWidget"></div>
			</div>
		</div>
	</div>
	<div class="contentSection">
		<div id="landingSection1Hero">
			The ultimate telemetry data and control platform for <span id="heroCustomers">makers</span>.
		</div>
	</div>
	<div class="contentSection">
		<div id="landingSection1WidgetsMobile">
		</div>
	</div>
</div>
<div class="contentSectionContainer">
	<div class="contentSection">
		<div id="landingSection2Text">
			<h1>It's easier than ever to interact with hardware projects, small or large.</h1>
			Stream live data sensor data from your project, with an easy-to-use set of libraries and integrations.
			TelemetryJet
			integrates with a wide range of common protocols, such as NMEA 0183, VE.Direct, CAN-bus, VESC, and more.

		</div>
	</div>
</div>
<div class="contentSectionContainer">
	<div class="contentSection">
		section 3
	</div>
</div>
{{ end }}