{{ define "main" }}
<div id="menu" class="bp3-dark">
{{ partial "header" . }}
</div>
<div id="landingSection1_Wrapper" class="sectionWrapper primaryHero">
    <section>
        <div class="sectionBackground">
			<div class="sectionBackgroundOverlay"></div>
		</div>
		<div class="sectionForeground">
			<div id="landingSection1_WidgetsDesktop">
				<section>
					<div id="landingSection1_Widget1" class="landingSection1_HeroWidget"></div>
					<div id="landingSection1_Widget2" class="landingSection1_HeroWidget"></div>
					<div id="landingSection1_Widget3" class="landingSection1_HeroWidget"></div>
				</section>
			</div>
			<div id="landingSection1__heroText">
				Collect, analyze, and share data from your hardware. <span id="heroCustomers">Code not required.</span>
			</div>
			<div id="landingSection1_WidgetsMobile">
			</div>
		</div>
    </section>
</div>
<div class="sectionWrapper">
    <section id="landingSection2" class="landingSection">
        <div class="sectionBackground">
		</div>
		<div class="sectionForeground">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-4 col-sm-0 col-xs-0">
					<div id="landingChartNegativeMargins">
						<div class="crossfadeImage">
							<img class="imageTwo animate-flicker" src="/img/testrender4_glow.png">
							<img class="imageOne" src="/img/testrender4_noglow.png">
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-8">
					<h1>Less wrangling data, more insightful analysis.</h1>
					Hardware engineering projects create a <i>lot</i> of data, and it's tedious to analyze and share. 
					TelemetryJet provides a powerful platform for managing your data, so you can use it more productively.
					<br/><br/>
					It's easy to integrate into an existing project: Hook up your data sources, invite your team, and start
					answering the important questions. It's that simple.
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
    </section>
</div>
<div class="sectionWrapper landingSectionHighlight">
    <section class="landingSection">
        <div class="sectionBackground">
		</div>
		<div class="sectionForeground">
			<div class="row middle-xs">
				<div class="col-xs-12 col-md-0 col-lg-0">
					<img src="/img/screenshots/map_2.png">
				</div>
				<div class="col-xs-12 col-md-5 col-lg-4">
					<h1>Analyze and visualize your data from anywhere.</h1>
					<p>
						Quickly build charts and dashboards that are accurate, easy to interpret, and beautiful -- All from the browser.
						<br/><br/>
						Anywhere you go, your data follows: 
						TelemetryJet uses intelligent streaming and filtering that allows you to work with large datasets without waiting 
						for a download.
					</p>
				</div>
				<div class="col-md-7 col-lg-8 col-xs-0 col-sm-0">
					<img src="/img/screenshots/map_2.png">
				</div>
			</div>
			<br /><br />
			<div class="row">
				<div class="col-xs-12 col-md-4 landingSectionListItem">
					<h3>Replay history, or stream data live</h3>
				</div>
				<div class="col-xs-12 col-md-4 landingSectionListItem">
					<h3>Insightful, configurable visualizations</h3>
				</div>
				<div class="col-xs-12 col-md-4 landingSectionListItem">
					<h3>Statistical and numeric analysis tools</h3>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
    </section>
</div>
<div class="sectionWrapper">
    <section class="landingSection">
        <div class="sectionBackground">
		</div>
		<div class="sectionForeground">
			<div class="row middle-xs">
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-12">
							<h1>Combine and catalog data from multiple sources.</h1>
							<p>
								TelemetryJet is a librarian and a janitor for your data -- It handles cleanup, processing and storage
								so you don't have to. 
							</p>
							<p>
								The result: a consistent and complete data store that lets you answer questions that were previously out of reach.
							</p>
							<p>
								TelemetryJet ingests data from a wide range of industry-standard formats:
								Upload files manually, or use the command line interface to stream data as it occurs.
							</p>
							<br />
						</div>
						<div class="col-xs-12">
							<h3>Store & process static files</h3>
						</div>
						<div class="col-xs-12">
							<h3>Stream live data from devices with the CLI</h3>
						</div>
						<div class="col-xs-12">
							<h3>Compatible with industry-standard platforms</h3>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-0 col-sm-0">
				</div>
			</div>
		</div>
    </section>
</div>
<div class="sectionWrapper landingSectionHighlight">
    <section class="landingSection">
        <div class="sectionBackground">
		</div>
		<div class="sectionForeground">
			<h1>TelemetryJet empowers data-driven collaboration.</h1>
			<p>
				Effective teams are continuously collaborating,
				debating, and sharing -- And a chart is worth a thousand words. With TelemetryJet, you can quickly pull data into your conversations,
				meaning important decisions are backed by quantitative data.
			</p>
			<p>
				Instantly share a dashboard, dataset or visualization within your team or on the public internet with TelemetryJet's extensive sharing features.
			</p>
			<p>
				Need to share data outside of TelemetryJet? No problem.
				You retain ownership of your data, and can easily export data out of the TelemetryJet platform into standard formats for advanced usage.
			</p>
			<div class="row">
				<div class="col-xs-12 col-md-4 landingSectionListItem">
					<h3>Share data with public URLs</h3>
				</div>
				<div class="col-xs-12 col-md-4 landingSectionListItem">
					<h3>Collaborate alongside the data</h3>
				</div>
				<div class="col-xs-12 col-md-4 landingSectionListItem">
					<h3>Easy export to external systems</h3>
				</div>
			</div>
		</div>
    </section>
</div>
<div class="sectionWrapper">
    <section class="landingSection">
        <div class="sectionBackground">
		</div>
		<div class="sectionForeground">
			<h1>How it Works</h1>
			<img src="/img/how-it-works-chart.svg"/>
		</div>
    </section>
</div>
{{ end }}