@import '~@blueprintjs/core/lib/scss/variables.scss';
@import '../../../public/styles/breakpoints';

.navBar {
  flex: 0 0 auto;
  height: 51px;
  width: 100%;
  background-color: $dark-gray3;
  border-bottom: 1px solid #182026;
  border-top: 1px solid #394B59;
  color: $white;
  position: relative;
}

.navBarContent {
  max-width: 1050px;
  height: 100%;
  position: relative;
  margin: 0 auto;
  color: $white;
}

.tabBorderLine {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #00000052;
  border-bottom: 1px solid rgba(234, 242, 249, 0.71);
  z-index: 1;
}

.desktopMenu {
  @include mobile {
    display: none;
  }
}

.mobileMenu {
  display: none;
  @include mobile {
    display: flex;
  }
}
