<div class="sectionWrapper footerFlexSpacer">
    <section>
    </section>
</div>

<div id="footer">
    <section class="primaryFooterContent">
        <div class="footerSection">
            <h1>LEARN</h1>
            <ul>
                <li><a href="/use-cases">Use Cases</a></li>
                <li><a href="{{ .Site.Params.docsUrl }}">Documentation</a></li>
                <li><a href="/changelog">Changelog</a></li>
            </ul>
        </div>
        <div class="footerSection">
            <h1>CLOUD</h1>
            <ul>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="http://status.telemetryjet.com/">Status</a></li>



                <li><a href="/faq">FAQ</a></li>
                <li><a href="/sitemap.xml">Sitemap</a></li>
            </ul>
        </div>
        <div class="footerSection">
            <h1>COMMUNITY</h1>
            <ul>
                <li><a href="/blog">Blog</a></li>
                <li><a href="https://github.com/telemetryjet/">GitHub</a></li>
                <li><a href="https://twitter.com/telemetryjet">Twitter</a></li>
                <li><a href="https://www.youtube.com/channel/UCoEzj9RTqVAbuGeG6OT-GDA">Youtube</a></li>
            </ul>
        </div>
        <div class="footerSection">
            <h1>COMPANY</h1>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-of-service">Terms of Service</a></li>
                <li><a href="mailto:telemetryjet@gmail.com">Contact Us</a></li>
            </ul>
        </div>
    </section>
    <div id="backToTop">
    </div>
</div>
<div id="secondaryFooter">
    <section class="secondaryFooterContent">
        TelemetryJet &copy; 2020, Chris Dalke &middot; Built in Boston
    </section>
</div>