<div class="sectionWrapper footerFlexSpacer">
    <section>
    </section>
</div>

<div id="footer">
    <section class="primaryFooterContent">
        <div class="footerSection">
            <h1>PRODUCT</h1>
            <ul>
                <li><a href="/">Overview</a></li>
                <li><a href="/products/">Products</a></li>
                <li><a href="/changelog/">Changelog</a></li>
                <li><a href="/pricing/">Pricing</a></li>
                <li><a href="http://status.telemetryjet.com/">Status</a></li>
            </ul>
        </div>
        <div class="footerSection">
            <h1>USE CASES</h1>
            <ul>
                <li><a href="/use-cases/marine/">Marine</a></li>
                <li><a href="/use-cases/automotive/">Automotive</a></li>
                <li><a href="/use-cases/aerospace/">Aerospace</a></li>
                <li><a href="/use-cases/iot/">IoT</a></li>
                <li><a href="/use-cases/" class="footerMoreLink">view all <span class="bp3-icon bp3-icon-arrow-right"></span></a></li>
            </ul>
        </div>
        <div class="footerSection">
            <h1>COMMUNITY</h1>
            <ul>
                <li><a href="{{ .Site.Params.docsUrl }}">Documentation</a></li>
                <li><a href="https://github.com/telemetryjet/">GitHub</a></li>
                <li><a href="https://twitter.com/telemetryjet/">Twitter</a></li>
                <li><a href="https://www.youtube.com/channel/UCoEzj9RTqVAbuGeG6OT-GDA/">Youtube</a></li>
            </ul>
        </div>
        <div class="footerSection">
            <h1>COMPANY</h1>
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/privacy-policy/">Privacy Policy</a></li>
                <li><a href="/terms-of-service/">Terms of Service</a></li>
                <li><a href="mailto:telemetryjet@gmail.com">Contact Us</a></li>
            </ul>
        </div>
    </section>
    <div id="backToTop">
    </div>
</div>
<div id="secondaryFooter">
    <section class="secondaryFooterContent">
        TelemetryJet &copy; 2020, Chris Dalke &middot; <a href="/sitemap.xml">Sitemap</a>
    </section>
</div>