<div id="header">
    <div id="headerNavBar" class="bp3-navbar">
        <div class="bp3-dark" style="margin: 0 auto; max-width: 1200px;">
            <div class="bp3-navbar-group bp3-align-left">
                <div id="navbarLogo" class="bp3-navbar-heading">TJET<span
                        class="bp3-icon bp3-icon-standard bp3-icon-airplane"></span>
                </div>
            </div>
            <div class="bp3-navbar-group bp3-align-right">
                <a class="bp3-button bp3-minimal" href="/">About</a>
                <a class="bp3-button bp3-minimal" href="https://docs.telemetryjet.com/">Docs</a>
                <a class="bp3-button bp3-minimal" href="https://files.telemetryjet.com/">Releases</a>
                <a class="bp3-button bp3-minimal" href="">Blog</a>
                <span class="bp3-navbar-divider"></span>
                <a class="bp3-button bp3-intent-primary" href="/cloud">Sign In</a>
            </div>

        </div>
    </div>
</div>