<div id="headerWarning">
    <div class="headerWarningContent">
        <span class="bp3-icon bp3-icon-warning-sign"></span>&nbsp;
        TelemetryJet is in early beta. Need help getting started, or found a bug? <a id="headerWarningLink" href="https://github.com/telemetryjet/telemetryjet-community/issues/new">Open an Issue</a> on our GitHub repository.
        <a id="headerWarningCloseButton"><span class="bp3-icon bp3-icon-cross"></span></a>
    </div>
</div>
<div id="header">
    <section>
        <div id="headerNavBar" class="bp3-navbar">
            <div id="headerMainLogo" class="bp3-navbar-group bp3-align-left">
                <a class="bp3-button bp3-minimal" href="/">
                    <div id="navbarLogo" class="bp3-navbar-heading">TelemetryJet<span id="navbarLogoIcon"
                            class="bp3-icon bp3-icon-standard bp3-icon-airplane"></span>
                    </div>
                </a>
            </div>
            <div class="bp3-navbar-group bp3-align-right">
                <div id="productsDropdownJs" class="bp3-button bp3-minimal dropdownButtonJs noJsHidden">
                    Products<span class="bp3-icon bp3-icon-standard bp3-icon-chevron-down"></span>
                    <div id="productsDropdownContainer">
                        <ul class="bp3-menu bp3-elevation-2">
                            <li><a class="bp3-menu-item" href="/">Server</a></li>
                            <li><a class="bp3-menu-item" href="/products/cli/">Command-Line Client</a></li>
                            <li><a class="bp3-menu-item" href="/products/arduino-sdk/">Arduino SDK</a></li>
                            <li><a class="bp3-menu-item headerMenuUseCasesViewAll" href="/products/">View All <span class="bp3-icon bp3-icon-arrow-right"></span></a></li>
                          </ul>
                    </div>
                </div>
                <div id="useCasesDropdownJs" class="bp3-button bp3-minimal dropdownButtonJs noJsHidden">
                    Use Cases<span class="bp3-icon bp3-icon-standard bp3-icon-chevron-down"></span>
                    <div id="useCasesDropdownContainer">
                        <ul class="bp3-menu bp3-elevation-2">
                            <li><a class="bp3-menu-item" href="/use-cases/marine/">Marine</a></li>
                            <li><a class="bp3-menu-item" href="/use-cases/automotive/">Automotive</a></li>
                            <li><a class="bp3-menu-item" href="/use-cases/aerospace/">Aerospace</a></li>
                            <li><a class="bp3-menu-item" href="/use-cases/iot/">IoT</a></li>
                            <li><a class="bp3-menu-item headerMenuUseCasesViewAll" href="/use-cases/">View All <span class="bp3-icon bp3-icon-arrow-right"></span></a></li>
                        </ul>
                    </div>
                </div>
                <noscript>
                <a class="bp3-button bp3-minimal desktopButton" href="/products/">Products</a>
                </noscript>
                <noscript>
                <a class="bp3-button bp3-minimal desktopButton" href="/use-cases/">Use Cases</a>
                </noscript>
                <!-- 
                <a class="bp3-button bp3-minimal desktopButton" href="/pricing/">Pricing</a>-->
                <a class="bp3-button bp3-minimal desktopButton" href="{{ .Site.Params.docsUrl }}">Docs</a>
                <span class="bp3-navbar-divider desktopButton"></span>
                <a class="bp3-button bp3-minimal desktopButton" style="margin-right: 5px;" href="{{ .Site.Params.cloudUrl }}">Login</a>
                <a class="bp3-button bp3-intent-primary desktopButton" href="{{ .Site.Params.cloudUrl }}/account/register/">Sign Up</a>
                <button id="mobileMenuOpenButton"
                    class="bp3-button bp3-minimal bp3-icon-menu mobileButton mobileMenuOpenButtonNoscript"></button>
            </div>
            <noscript id="noscriptMenu" class="bp3-navbar-group bp3-align-right">
                <a class="bp3-button bp3-minimal mobileButton noscriptButton" href="/products/">Products</a>
                <a class="bp3-button bp3-minimal mobileButton noscriptButton" href="/use-cases/">Use Cases</a>
                <!-- 
                <a class="bp3-button bp3-minimal mobileButton noscriptButton" href="/pricing/">Pricing</a>-->
                <a class="bp3-button bp3-minimal mobileButton noscriptButton" href="{{ .Site.Params.docsUrl }}">Docs</a>
            </noscript>
        </div>
    </section>
    <div id="mobileMenuBg"></div>
    <div id="mobileMenu" class="mobileMenuClosed bp3-dark">
        <div class="mobileMenuHeader">
            <h4>Menu</h4>
            <button id="mobileMenuCloseButton"
                class="bp3-button bp3-minimal bp3-icon-menu-open mobileButton mobileMenuButton"></button>
        </div>
        <ul id="mobileMenuItems" class="bp3-menu">
            <li><a class="bp3-menu-item" href="/products/">Products</a></li>
            <li><a class="bp3-menu-item" href="/use-cases/">Use Cases</a></li>
            <!-- 
            <li><a class="bp3-menu-item" href="/pricing/">Pricing</a></li>-->
            <li><a class="bp3-menu-item" href="{{ .Site.Params.docsUrl }}">Docs</a></li>
            <li><a class="bp3-menu-item bp3-intent-primary" href="{{ .Site.Params.cloudUrl }}">Cloud Login / Signup</a>
            </li>
            <hr />
            <li class="bp3-menu-header"><b>Company</b></li>
            <li><a class="bp3-menu-item" href="/about/">About</a></li>
            <li><a class="bp3-menu-item" href="/privacy-policy/">Privacy Policy</a></li>
            <li><a class="bp3-menu-item" href="/terms-of-service/">Terms of Service</a></li>
            <li><a class="bp3-menu-item" href="mailto:telemetryjet@gmail.com">Contact Us</a></li>
            <hr />
            <a href="https://github.com/telemetryjet/"><img src="/img/github.svg" class="menuSocialIcon" /></a>
            <a href="https://twitter.com/telemetryjet"><img src="/img/twitter.svg" class="menuSocialIcon" /></a>
            <a href="https://www.youtube.com/channel/UCoEzj9RTqVAbuGeG6OT-GDA"><img src="/img/youtube.svg" class="menuSocialIcon" /></a>
            
            
            
        </ul>
    </div>
</div>
