<div id="header">
    <div id="headerNavBar" class="bp3-navbar">
        <div id="headerNavBarContent" class="bp3-dark">
            <div class="bp3-navbar-group bp3-align-left">
                <a class="bp3-button bp3-minimal" href="/">
                    <div id="navbarLogo" class="bp3-navbar-heading">TJET<span
                            class="bp3-icon bp3-icon-standard bp3-icon-airplane"></span>
                    </div>
                </a>
            </div>
            <div class="bp3-navbar-group bp3-align-right">
                <a class="bp3-button bp3-minimal desktopButton" href="/">About</a>
                <a class="bp3-button bp3-minimal desktopButton" href="https://docs.telemetryjet.com/">Docs</a>
                <a class="bp3-button bp3-minimal desktopButton" href="https://files.telemetryjet.com/">Releases</a>
                <a class="bp3-button bp3-minimal desktopButton" href="/blog">Blog</a>
                <span class="bp3-navbar-divider desktopButton"></span>
                <a class="bp3-button bp3-intent-primary desktopButton" href="/cloud">Sign In</a>
                <button id="mobileMenuOpenButton"
                    class="bp3-button bp3-minimal bp3-icon-menu mobileButton mobileMenuOpenButtonNoscript"></button>
            </div>
            <noscript class="bp3-navbar-group bp3-align-right">
                <a class="bp3-button bp3-minimal mobileButton" href="https://docs.telemetryjet.com/">Docs</a>
                <a class="bp3-button bp3-minimal mobileButton" href="https://files.telemetryjet.com/">Releases</a>
                <a class="bp3-button bp3-minimal mobileButton" href="/blog">Blog</a>
            </noscript>
        </div>
    </div>
    <div id="mobileMenuBg"></div>
    <div id="mobileMenu" class="mobileMenuClosed bp3-dark">
        <div class="mobileMenuHeader">
            <h2>Menu</h2>
            <button id="mobileMenuCloseButton"
                class="bp3-button bp3-minimal bp3-icon-menu-open mobileButton mobileMenuButton"></button>
        </div>
        <ul id="mobileMenuItems" class="bp3-menu">
            <li><a class="bp3-menu-item" href="/">About</a></li>
            <li><a class="bp3-menu-item" href="https://docs.telemetryjet.com/">Documentation</a></li>
            <li><a class="bp3-menu-item" href="https://files.telemetryjet.com/">Releases</a></li>
            <li><a class="bp3-menu-item" href="/blog">Blog</a></li>
            <hr />
            <li><a class="bp3-menu-item" href="/faq">FAQ</a></li>
            <li><a class="bp3-menu-item" href="/blog/team">About the Team</a></li>
            <li><a class="bp3-menu-item" href="/blog/history">Project History</a></li>
            <hr />
            <li><a class="bp3-menu-item" href="https://github.com/telemetryjet/">GitHub Organization</a>
            </li>
            <li><a class="bp3-menu-item"
                    href="https://github.com/telemetryjet/tjet-server/blob/develop/CONTRIBUTING.md">Contributor's
                    Guide</a></li>
            <hr />
            <li><a class="bp3-menu-item" href="/contact-us">Contact Us</a></li>
            <li><a class="bp3-menu-item" href="/privacy-policy">Privacy Policy</a></li>
            <li><a class="bp3-menu-item" href="/terms-of-service">Terms of Service</a></li>
            <li><a class="bp3-menu-item" href="/sitemap.xml">Sitemap</a></li>
        </ul>
    </div>
</div>