<div id="sidebarMobileHeader" class="mobileMenu bp3-dark">
	<div class="mobileHeaderFlexContainer">
		<div class="mobileSidebarElement">
			<a href="{{.Site.Home.URL}}" id="mobileSidebarTitle">
				<span id="sidebarTitleSpan">
					TJET DOCS
				</span>
				<span class="bp3-icon-standard bp3-icon-airplane"></span>
			</a>
		</div>
		<div class="mobileSidebarSpacer">

		</div>
		<div class="mobileSidebarElement" style="color: #738694">
			{{ $.Site.Params.version }}
		</div>
	</div>
	<div class="mobileHeaderFlexContainer">
		<div class="bp3-select mobileSidebarNavDropdown">
			<select onchange="window.location.replace(this.options[this.selectedIndex].value)">
				<option value="/">Go to section...</option>
				{{ $currentPage := . }}
				{{ range .Site.Menus.main }}
				<option value="{{ .URL }}"
					{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}selected{{end}}>
					{{ .Name }}</option>
				{{ end }}
			</select>
		</div>
		{{ $currentPage := . }}
		{{ range .Site.Menus.main }}
		{{ if .Page.IsNode }}
		{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
		<div class="bp3-select mobileSidebarNavDropdown {{if eq (len .Page.Pages) 0}}.bp3-disabled{{end}}"
			{{if eq (len .Page.Pages) 0}}:disabled{{end}}>
			<select onchange="window.location.replace(this.options[this.selectedIndex].value)">
				<option value="{{.Page.URL}}">Go to page...</option>
				{{ range .Page.Pages }}
				<option value="{{ .URL }}" {{ if eq $currentPage.URL .URL }}selected{{end}}>
					{{ .Name }}</option>
				{{ end }}
			</select>
		</div>
		{{ end }}
		{{ end }}
		{{ end }}
	</div>
	<noscript>
		<div class="mobileHeaderFlexContainer">
			<div class="mobileNoJavascriptWarning bp3-callout bp3-intent-warning bp3-icon-warning-sign">
				<h4 class="bp3-heading">Warning</h4>
				JavaScript is required to navigate on the mobile site. Please use a larger screen, or enable JavaScript.
			</div>
		</div>
	</noscript>
</div>
<div id="sidebarContainer" class="dark-scrollbar">
	<a href="{{.Site.Home.URL}}">
		<div id="sidebarTitleWrapper"
			class="fullMenu titleContainer titleContainerExpanded {{ if eq .Site.Home.URL .URL }}titleContainerSelected{{ end }}">
			<span id="sidebarTitleSpan">
				TJET DOCS
			</span>
			<span class="bp3-icon-standard bp3-icon-airplane"></span>
		</div>
	</a>
	<!--
	<div class="buttonContainer buttonContainerExpanded buttonContainerLarge buttonContainerLargeExpanded">
		<div class="buttonText">Test</div>
	</div>
	<div class="buttonContainer buttonContainerExpanded buttonContainerSmall buttonContainerSmallExpanded">
		<div class="buttonText">Test</div>
	</div>-->
	{{ $currentPage := . }}
	{{ range .Site.Menus.main }}
	<a href="{{ .URL }}">
		<div
			class="buttonContainer buttonContainerExpanded buttonContainerLarge buttonContainerLargeExpanded {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}buttonContainerSelected{{end}}">
			<div class="buttonText">{{ .Name }} </div>
		</div>
	</a>
	{{ if .Page.IsNode }}
	{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
	{{ range .Page.Pages }}
	<a href="{{ .URL }}">
		<div
			class="buttonContainer buttonContainerExpanded buttonContainerSmall buttonContainerSmallExpanded {{ if eq $currentPage.URL .URL }}buttonContainerSmallSelected{{ end }}">
			<div class="buttonText">{{ .Name }} </div>
		</div>
	</a>
	{{ end }}
	{{ end }}
	{{ end }}
	{{ end }}
</div>