@import 'fonts';
@import 'scrollbars';
@import 'pages';
@import '~@blueprintjs/core/lib/scss/variables.scss';

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  background-color: $gray5;
  color: $black;
  position: relative;
  font-family: "DIN", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
}

.pageContent {
  flex: 1 1 auto;
  display: block;
  border: 1px solid green;
}
