<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0,user-scalable=0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<title>{{ .Title }}</title>

	{{ with .Site.Params.description }}
	<meta name="description" content="{{ . }}">
	{{ end }}

	{{ with .Site.Params.author }}
	<meta name="author" content="{{ . }}">
	{{ end }}

	<!-- Style dependencies -->
	<link rel="preload" href="/unpkg/css/normalize.css" as="stylesheet" />
	<link href="/unpkg/css/normalize.css" rel="stylesheet" />

	<!-- Blueprint stylesheets -->
	<link rel="preload" href="/unpkg/blueprintjs/blueprint-icons.css" as="stylesheet" />
	<link rel="preload" href="/unpkg/blueprintjs/blueprint.css" as="stylesheet" />
	<link rel="preload" href="/unpkg/blueprintjs/icons-16.woff" as="font" />
	<link rel="preload" href="/unpkg/blueprintjs/icons-16.ttf" as="font" />
	<link rel="preload" href="/unpkg/blueprintjs/icons-20.woff" as="font" />
	<link rel="preload" href="/unpkg/blueprintjs/icons-20.ttf" as="font" />
	<link href="/unpkg/blueprintjs/blueprint-icons.css" rel="stylesheet" />
	<link href="/unpkg/blueprintjs/blueprint.css" rel="stylesheet" />

	<!-- Core site stylesheets -->
	<link rel="preload" href="/css/fonts.css" as="stylesheet">
	<link rel="preload" href="/css/scrollbars.css" as="stylesheet">
	<link rel="preload" href="/css/style.css" as="stylesheet">
	<link rel="preload" href="/fonts/DINNextLTW04-Regular.woff" as="font" />
	<link rel="preload" href="/fonts/DINNextLTW04-Italic.woff" as="font" />
	<link rel="preload" href="/fonts/DINNextLTW04-Medium.woff" as="font" />
	<link rel="preload" href="/fonts/DINNextLTW04-Bold.woff" as="font" />
	<link rel="preload" href="/fonts/DINNextLTW04-Heavy.woff" as="font" />
	<link rel="preload" href="/fonts/DINNextLTW04-Light.woff" as="font" />
	<link rel="preload" href="/fonts/blenderpro-medium-webfont.woff" as="font" />
	<link rel="preload" href="/fonts/blenderpro-bold-webfont.woff" as="font" />

	<link rel="stylesheet" href="/css/fonts.css">
	<link rel="stylesheet" href="/css/scrollbars.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body class="dark-scrollbar">
	{{ partial "sidebar.html" . }}
	<div id="contentContainer" class="dark-scrollbar">
		{{ partial "header" . }}
		<div class="bp3-card bp3-elevation-two flexiblePageCard flexiblePagePadding dark-scrollbar">
			<div class="copyWrapper">
				{{ block "main" . }}{{ end }}
			</div>
		</div>
		{{ partial "footer" . }}
	</div>
</body>

</html>