{{ define "main" }}
<div id="menu" class="bp3-light">
{{ partial "header" . }}
</div>
<div class="sectionWrapper secondaryHero">
    <section>
        <div class="sectionBackground">
			<div class="sectionBackgroundOverlay"></div>
		</div>
		<div class="sectionForeground">
			<h1 class="sectionHeroText">{{ .Title }}</h1>
		</div>
    </section>
</div>
<div class="contentSectionContainer">
	<div class="contentSection">
		{{ if .Content }}
		<div>
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}

		{{ range .Paginator.Pages }}
		<h1><a href="{{ .RelPermalink }}">{{ .Name }}</a></h1>
		{{ .Summary }}
		<div>
			<i>{{.Date.Format "January 1, 2006"}}</i>
			{{ if .Truncated }}
			&middot;
			<a href="{{ .RelPermalink }}">Read More</a>
			{{ end }}
		</div>
		{{ end }}
	</div>
</div>
{{ end }}