@font-face {
    font-family: "DIN";
    src: url("../fonts/DINNextLTW04-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DINNextLTW04-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DINNextLTW04-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DINNextLTW04-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DINNextLTW04-Heavy.woff") format("woff");
    font-weight: 800;
    font-style: normal
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DINNextLTW04-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal
}
