#header {
    flex: 0 0 auto;
    height: 50px;
    overflow: visible;
}

#header section {
    padding-left: 14px;
}

#menu.bp3-light {
    background-color: #CED9E0;
}

#menu.bp3-dark {

    background-color: #293742;
}

.bp3-dark #header {
    background-color: #293742;
    color: white;
}
.bp3-light #header {
    background-color: #CED9E0;
    color: #10161A;
}
.bp3-dark #headerNavBar {
    background-color: #293742;
    color: white;
}
.bp3-light #headerNavBar {
    background-color: #ced9e000;
    color: #10161A;
}
.bp3-light #navbarLogoIcon {
    color: #10161A;
}
.bp3-dark #navbarLogoIcon {
    color: white;
}

.headerMenuUseCasesViewAll {
    opacity: 0.5;
    align-items: center !important;
}

#headerWarningLink {
    color: #BFCCD6;
}
.bp3-light #headerWarningLink {
    color: #394B59;
}

#headerWarning {
    background-color: #202B33;
    margin-bottom: 5px;
    color: #BFCCD6;
    font-size: 13px;
}

.bp3-light #headerWarning {
    background-color: #BFCCD6;
    color: #394B59;
}

.headerWarningContent {
    margin: 0 auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    position: relative;
}

#headerWarningCloseButton {
    position: absolute;
    top: 5px;
    right: 30px;
    visibility: hidden;
}

.bp3-dark .headerWarningContent .bp3-icon {
    color: #A7B6C2 !important;
}

/* Mobile */
.headerWarningContent {
    max-width: 600px;
}

/* Small Screen */
@media screen and (min-width: 600px) {
    .headerWarningContent {
        max-width: 600px;
    }
}

/* Medium Screen */
@media screen and (min-width: 800px)  {
    .headerWarningContent {
        max-width: 750px;
    }
}

/* Large Screen */
@media screen and (min-width: 1100px) {
    .headerWarningContent {
        max-width: 1050px;
    }
}

#headerNavBar {
    border: none;
    padding: 0px;
    /*
    border-bottom: 1px solid #182026;
    border-top: 1px solid #394B59;
    */
    box-shadow: none;
    -webkit-box-shadow: none;
}

#navbarLogo {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*
    background: url('../../img/logo.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    width: 350px;*/
}

#navbarLogo span {
    margin-left: 5px;
}

#headerNavBarContent {
    margin: 0 auto;
    max-width: 1200px;
}

.mobileButton {
    display: none;
}

.desktopButton {
    display: block;
}

.mobileMenuOpenButtonNoscript {
    display: none;
}

#mobileMenuOpenButton::before {
    margin-left: 7px;
    margin-right: 7px;
}

#mobileMenuCloseButton::before {
    margin-left: 7px;
    margin-right: 7px;
}


#mobileMenuBg {}

#mobileMenu {
    display: none;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #293742;
    z-index: 30;
    -webkit-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.5);
    transition: left 0.25s;
    overflow-y: auto;
    overflow-x: hidden;
}


#mobileMenu .bp3-menu-header {
    border: none;
}

#mobileMenuItems {
    background: none;
}

.mobileMenuHeader {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    height: 50px;
    background-color: #293742;
    border-bottom: 1px solid #182026;
    border-top: 1px solid #394B59;
}

.mobileMenuHeader h4 {
    flex: 1 1 auto;
    margin: 0px;
}

img.menuSocialIcon {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
    /* Converts black svg to white, dirty hack */
    filter: invert(1);
    opacity: 0.25;
}

.noJsHiddenSmallScreens {
}

.noscriptButton {
    padding: 2px 5px;
    font-size: 13px;
}

#mobileMenuOpenButton, #mobileMenuCloseButton {
    padding: 5px 0px !important;
}

#productsDropdownJs {
    position: relative;
    overflow: visible;
}
#productsDropdownContainer {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}
#productsDropdownJs .bp3-icon {
    margin: 0px;
    margin-left: 3px;
}

.dropdownButtonJs {
}

#useCasesDropdownJs {
    position: relative;
    overflow: visible;
}

#useCasesDropdownContainer {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}
#useCasesDropdownJs .bp3-icon {
    margin: 0px;
    margin-left: 3px;
}

/* ultra small mobile */
.noJsHiddenSmallScreens {
    display: none;
}
@media screen and (min-width: 600px) {
    .noJsHiddenSmallScreens {
        display: block;
    }
}

/* noscript fix for small screens */
#noscriptMenu {
    float: left;
    margin-left: 8px;
}
@media screen and (max-width: 400px) {

}

.mobileMenuOpenButtonNoscript {
    display: none;
}

.mobileButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktopButton {
    display: none;
}

#mobileMenu {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.mobileMenuOpen {
    left: 35%;
}

.mobileMenuClosed {
    left: 100%;
}

.mobileMenuBgOpen {
    display: block;
    background-color: rgba(24, 32, 38, 0.3);
    z-index: 19;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#productsDropdownJs {
    display: none;
}

#useCasesDropdownJs {
    display: none;
}

.noJsHidden {
    display: none !important;
}

.mobileMenuOpenButtonNoscript {
    display: none !important;
}
/* Mobile + small screen */
@media screen and (min-width: 800px) {

    .mobileButton {
        display: none;
    }

    .desktopButton {
        display: block;
    }

    #productsDropdownJs {
        display: block;
    }

    #useCasesDropdownJs {
        display: block;
    }
}


#headerWarning a {
    text-decoration: underline;
}