body {
    font-family: "DIN", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    overscroll-behavior-y: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #293742;
    min-width: 320px;
    font-size: 16px;
}

html {
    overflow-x: hidden;
}

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100vh;
    background-color: #D8E1E8;
    z-index: 0;
}

#content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profileImage {
    width: 100px;
    height: 100px;
    float: left;
    border-radius: 50%;
    margin: 10px;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
    background-color: #48AFF0;
}

.profileText {
    margin-left: 130px;
}

.profileImage img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    opacity: 0.8;
    mix-blend-mode: add;
}

.profileImageClearfix {
    clear: both;
    width: 100%;
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.clearfix {
    width: 100%;
    clear: both;
}

.footerFlexSpacer {
    flex: 1 1 auto;
    overflow: hidden;
}

/*
BREAKPOINTS
<section> tag is configured by default as a flexible breakpoint and can be used across the page.
*/
section {
    position: relative;
    max-width: 1200px;
    overflow: visible;
    padding-left: 25px;
    padding-right: 25px;
    /*
    border-left: 2px dashed rgba(0,0,0,0.25);
    border-right: 2px dashed rgba(0,0,0,0.25);
    */
}

h1 {
    font-size: 2.25em;
    font-weight: 400;
}

h2 {
    font-size: 1.75em;
    font-weight: 400;
}

h3 {
    font-size: 1.25em;
    font-weight: 400;
}

h4 {
    font-size: 1.25em;
    font-weight: 600;
}

h5 {
    font-size: 1.25em;
    font-weight: 500;
}

h6 {
    font-size: 1em;
    font-weight: 500;
}

p {
    font-size: 16px;
}

/* Mobile */
@media screen and (max-width: 599px) {
    section {
        max-width: 600px;
    }
    .profileText {
        margin-left: 0px;
    }
}

/* Small Screen */
@media screen and (min-width: 600px) and (max-width: 799px) {
    section {
        max-width: 600px;
    }
}

/* Medium Screen */
@media screen and (min-width: 800px) and (max-width: 1099px) {
    section {
        max-width: 750px;
    }
}

/* Large Screen */
@media screen and (min-width: 1100px) {
    section {
        max-width: 1050px;
    }
}

/*
Full-width section background wrapper
Used like:

<div class="sectionWrapper">
    <section>
        <div class="sectionBackground">
        </div>
    </section>
</div>
*/

.sectionWrapper {
    width: 100%;
    position: relative;
}
section {
    margin: 0 auto;
}

.sectionBackground {
    z-index: 0;
    position: absolute;
    overflow: visible;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.sectionForeground {
    position: relative;
    z-index: 1;
}