html {}

body {
    background-color: #D8E1E8;
    font-family: "DIN", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    overscroll-behavior-y: none;
    position: relative;
}

* {
    font-family: "DIN", serif
}

.mainContainer {
    flex: 1;
}

.footerContainer {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
}

.footerSpacer {
    flex: 1;
}

.footerNavigationWrapper {
    flex: 0 0 auto;
    padding: 10px 20px;
    align-items: center;
    border-radius: 0px;
    background-color: #F5F8FA;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #10161A;
}

.footerNavigationWrapper:hover {
    background-color: #EBF1F5;
}

#rootFlexContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 480px;
    height: auto;
    min-width: 640px;
}

#contentContainer {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    padding: 5px;
    margin-left: 200px;
}

#flexiblePageTextContent {}

.flexiblePageCard {
    flex: 0 0 0;
    padding: 0px;
    align-items: stretch;
    border-radius: 0px;
    background-color: #F5F8FA;
}

.flexiblePagePadding {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#sidebarContainer {
    background-color: #293742;
    z-index: 11;
    box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1),
        0 0 0 rgba(16, 22, 26, 0),
        0 1px 1px rgba(16, 22, 26, 0.2);

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    color: #738694;
    flex: 0 0 auto;
    min-height: 500px;
}

.mobileSidebarElement {
    flex: 0 0 auto;
}

.mobileSidebarSpacer {
    flex: 1;
}

#sidebarMobileHeader {
    display: none;
}

.fullMenu {
    display: block;
}

.mobileSidebarNavDropdown {
    flex: 1 0 auto;
    height: 30px;
}

.mobileSidebarNavDropdown:first-of-type {
    margin-right: 10px;
}

.mobileSidebarNavDropdown:only-of-type {
    margin-right: 0px;
}

#mobileSidebarTitle {
    width: 100%;
    flex: 0 0 auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none;
    color: #8A9BA8;
}

.mobileSidebarTitle:hover {
    text-decoration: none;
}

.mobileHeaderFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.mobileNoJavascriptWarning {
    margin-top: 5px;
}

@media(max-width: 600px) {
    #sidebarMobileHeader {
        position: relative;
        top: 0;
        width: 100%;
        background-color: #293742;
        border-bottom: 1px solid #182026;
        border-top: 1px solid #394B59;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

    }

    #sidebarContainer {
        display: none;
    }

    .fullMenu {
        display: none !important;
    }

    #contentContainer {
        margin-top: 0px;
        margin-left: 0px;
    }
}

@media(max-height: 500px) {
    #sidebarContainer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

.titleContainer {
    width: 100%;
    height: 50px;
    flex: 0 0 auto;
    border-bottom: 1px solid #182026;
    border-top: 1px solid #394B59;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 200;
}

.titleContainer {
    color: #8A9BA8;
}

.titleContainerExpanded {
    justify-content: flex-end;
    padding-right: 15px;
}

.titleContainerSelected {
    color: #48AFF0;

}

#sidebarTitleSpan {
    margin-right: 5px;
}

.buttonContainerDisabled {
    color: #394B59;
    background-color: #30404D;
    cursor: default;
}

.buttonContainerDisabled:hover {
    background-color: #30404D;
}

.buttonContainer {
    width: 100%;
    height: 50px;
    flex: 0 0 auto;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #182026;
    border-top: 1px solid #394B59;
    color: #8A9BA8;
    font-size: 16px;
    font-weight: 500;
}

.buttonContainerSmall {
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    background-color: #10161A;
    border-bottom: none;
    border-top: none;
}

.buttonContainerSmall:hover {
    background-color: #0c0e11 !important;
}

.buttonContainerSmallExpanded {
    height: 30px;
    padding-right: 13px;
}

.buttonContainerLarge {}

.buttonContainerLargeExpanded {
    height: 34px;
    padding-right: 10px;
}

.buttonContainerExpanded {
    width: 200px;
    padding-left: 40px;
    justify-content: flex-end;
    align-items: center;
}

.buttonContainer:hover {
    background-color: #202B33;
}

.buttonText {
    margin-right: 8px;
}

.buttonContainerSmall .buttonText {
    margin-right: 4px;
}


.buttonContainerSelected {
    color: #48AFF0;
    /*text-shadow: 0px 0px 5px rgba(72, 175, 240, 0.51);*/
}

.buttonContainerSmallSelected {
    border-right: 4px solid #48AFF0;
    padding-right: 9px;
    color: #48AFF0;
}

.buttonContainerSelected:hover {}

#sidebarContainer a {
    text-decoration: none;
}

#sidebarContainer a:hover {
    text-decoration: none;
}

.linkNoUnderline {
    text-decoration: none;
}

.linkNoUnderline:hover {
    text-decoration: none;
}

h2 {
    margin-top: 20px;
    margin-bottom: 4px;
}

h2,
h3,
h4 {
    margin-top: 10px;
    margin-bottom: 2px;
}

.copyWrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.helpTextSpan {
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}

.highlight span {
    font-family: monospace;
}

.highlight pre {
    padding: 5px;
    border-radius: 3px;
}