/*
=== Landing Page - Background Containers ===
*/


/*
=== Landing Page - Text/Graphics for Sections ===
*/
#landingSection4_Graphic {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background: url('/img/section4.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: contain;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */
}

#landingSection4_Text {
    padding-top: 0px;
    padding-bottom: 0px;
    max-width: 400px;
}


/*
=== Landing Page - Media Queries ===
*/

/* Mobile */

/* Small Screen */
@media screen and (min-width: 600px) {}

/* Medium Screen */
@media screen and (min-width: 800px) {}

/* Large Screen */
@media screen and (min-width: 1100px) {}