/*
=== Landing Page - Background Containers ===
*/
#landingSection3_Background {
    position: absolute;
    top: 0px;
    width: 4000px;
    height: 1000px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*
=== Landing Page - Text/Graphics for Sections ===
*/

#landingSection3_Text {
    font-size: 14px;
    font-weight: 400;
}

#landingSection3_Graphic {
    float: right;
    background: url('../../img/frontend1.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */

    width: 400px;
    height: 300px;
}

/*
=== Landing Page - Media Queries ===
*/

/* Mobile */
@media screen and (max-width: 599px) {
    #landingSection3_Background {
        top: -150px;
    }

    #landingSection3_Text {
        padding-top: 0px;
        padding-bottom: 150px;
    }

    #landingSection3_Graphic {
        width: 100%;
        height: 350px;
        margin-top: 50px;
        float: none;
        background-position: center center;
    }
}

/* Small Screen */
@media screen and (min-width: 600px) and (max-width: 799px) {
    #landingSection3_Background {
        top: -100px;
    }

    #landingSection3_Text {
        padding-top: 25px;
        padding-bottom: 180px;
    }

    #landingSection3_Graphic {
        width: 100%;
        height: 400px;
        margin-top: 50px;
        float: none;
        background-position: center center;
    }
}

/* Medium Screen */
@media screen and (min-width: 800px) and (max-width: 1099px) {
    #landingSection3_Background {
        top: -100px;
    }

    #landingSection3_Text {
        padding-top: 300px;
        padding-bottom: 260px;
    }

    #landingSection3_Graphic {
        width: 500px;
        height: 400px;
        margin-top: 250px;
        margin-right: -40px;
    }
}

/* Large Screen */
@media screen and (min-width: 1100px) {
    #landingSection3_Background {
        top: 0px;
    }

    #landingSection3_Text {
        padding-top: 400px;
        padding-bottom: 400px;
    }

    #landingSection3_Graphic {
        width: 700px;
        height: 600px;
        margin-top: 250px;
        margin-right: -40px;
    }
}