/*
=== Landing Page - Background Containers ===
*/


/*
=== Landing Page - Text/Graphics for Sections ===
*/

#landingSection2_Text {
}

#landingSection2_Graphic {
    float: left;
    background: url('../../img/flowchart_data_sources.svg');
    background-repeat: no-repeat;
    background-position: top center;
}

/*
=== Landing Page - Media Queries ===
*/

/* Mobile */
#landingSection2_Graphic {
    display: none;
}

#landingSection2_Text {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Small Screen */
@media screen and (min-width: 600px) {
    #landingSection2_Graphic {
        display: none;
    }

    #landingSection2_Text {
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

/* Medium Screen */
@media screen and (min-width: 800px) {
    #landingSection2_Graphic {
        width: 400px;
        height: 300px;
        margin-left: -50px;
    }

    #landingSection2_Text {
        padding-top: 20px;
        padding-left: 300px;
    }
}

/* Large Screen */
@media screen and (min-width: 1100px) {
    #landingSection2_Graphic {
        width: 400px;
        height: 300px;
        margin-top: 20px;
    }

    #landingSection2_Text {
        padding-top: 80px;
        padding-left: 400px;
    }
}