/*
=== Landing Page - Text/Graphics for Sections ===
*/

#landingSection3_Text {
    font-size: 14px;
    font-weight: 400;
}

#landingSection3_Graphic {
    float: right;
    background: url('/img/screenshots/map_2.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    image-rendering: -moz-crisp-edges;
    /* Firefox */
    image-rendering: -o-crisp-edges;
    /* Opera */
    image-rendering: -webkit-optimize-contrast;
    /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
    /* IE (non-standard property) */

    width: 483px;
    height: 340px;
    overflow: hidden;
}

/*
=== Landing Page - Media Queries ===
*/

/* Mobile */
#landingSection3_Text {
    padding-top: 25px;
}

#landingSection3_Graphic {
    width: 100%;
    height: 350px;
    float: none;
    background-position: center center;
}

/* Small Screen */
@media screen and (min-width: 600px) {
    #landingSection3_Text {
        padding-top: 25px;
    }

    #landingSection3_Graphic {
        width: 100%;
        height: 400px;
        float: none;
        background-position: center center;
    }
}

/* Medium Screen */
@media screen and (min-width: 800px) {
    #landingSection3_Text {
        padding-top: 100px;
    }

    #landingSection3_Graphic {
        width: 500px;
        height: 380px;
        margin-left: 40px;
        margin-right: -40px;
    }
}

/* Large Screen */
@media screen and (min-width: 1100px) {
    #landingSection3_Text {
        padding-top: 150px;
    }

    #landingSection3_Graphic {
        width: 700px;
        height: 530px;
        margin-left: 40px;
        margin-right: -40px;
    }
}