<div id="landingSection5_getStartedText" class="bp3-card bp3-elevation-3">
    <h1 class="sectionHeroText">Ready to Start? Sign up for our Beta:</h1>
    <p>Sign up for the Beta, and we'll notify you as soon as TelemetryJet is ready.</p><br/>

    <form name="contact" method="POST" data-netlify="true">
        <div class="bp3-control-group bp3-fill bp3-large">
            <div class="bp3-input-group bp3-large">
                <span class="bp3-icon bp3-large bp3-icon-envelope"></span>
                <input name="email" id="email-input" type="text" class="bp3-input bp3-large" placeholder="chris@telemetryjet.com" dir="auto" />
            </div>
            <button class="bp3-button bp3-intent-primary bp3-icon-small-tick bp3-large" type="submit" style="flex: 0 0 auto;">Sign Up</button>
        </div>
    </form>
</div>